@using WebApp.Models.Classes
@model List<Department>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h4>Departman Listesi</h4>
<table class="table table-bordered" style="margin-top:20px">
    <th>Id</th>
    <th>İsim</th>
    <th>Aktif mi?</th>
    <th>Detaylar</th>
    <th>Sil</th>
    <th>Güncelle</th>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.DepartmentId</td>
            <td>@i.DepartmentName</td>
            <td>@i.State</td>
            <td><a href="/Department/Detail/@i.DepartmentId" class="btn btn-info">Detaylar</a></td>
            <td><a href="/Department/Remove/@i.DepartmentId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Department/GetDepartment/@i.DepartmentId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Department/NewDepartment" class="btn btn-dark">Yeni Departman</a>


