@using WebApp.Models.Classes
@model List<Department>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h4>Departman Listesi</h4>
<table id="departmant" class="table table-bordered" style="margin-top:20px">
    <thead>
    <th>Id</th>
    <th>İsim</th>
    <th>Aktif mi?</th>
    <th>Detaylar</th>
    <th>Sil</th>
    <th>Güncelle</th>
    </thead>
    <tbody>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.DepartmentId</td>
            <td>@i.DepartmentName</td>
            <td>@i.State</td>
            <td><a href="/Department/Detail/@i.DepartmentId" class="btn btn-info">Detaylar</a></td>
            <td><a href="/Department/Remove/@i.DepartmentId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Department/GetDepartment/@i.DepartmentId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
    </tbody>
</table>
<a href="/Department/NewDepartment" class="btn btn-dark">Yeni Departman</a>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>

    
    $('#departmant').dataTable({});

</script>
