@model WebApp.Models.Classes.FaultRecord
@{
    ViewData["Title"] = "CreateRepair";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>CreateAFaultRecord</h1>

@using (Html.BeginForm("CreateRepair", "TechnicalSupport", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Issue)
        @Html.TextBoxFor(x => x.Issue, new { @class = "form-control" })

        @Html.HiddenFor(x => x.SaleTransactionId)
        <br />
        <button class="btn btn-outline-warning">Güncelle</button>
    </div>
}
