@using WebApp.Models.Classes
@model List<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h4>Kategori Listesi</h4>
<table id="category" class="table table-bordered" style="margin-top:20px">
    <thead>
    <th>Id</th>
    <th>İsim</th>
    <th>Sil</th>
    <th>Güncelle</th>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.CategoryId</td>
                <td>@i.CategoryName</td>
                <td><a href="/Category/Remove/@i.CategoryId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Category/GetCategory/@i.CategoryId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Category/NewCategory" class="btn btn-dark">Yeni Kategori</a>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>


    $('#category').dataTable({});

</script>