@using WebApp.Models.Classes
@model List<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h4>Kategori Listesi</h4>
<table class="table table-bordered" style="margin-top:20px">
    <th>Id</th>
    <th>İsim</th>
    <th>Sil</th>
    <th>Güncelle</th>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.CategoryId</td>
            <td>@i.CategoryName</td>
            <td><a href="/Category/Remove/@i.CategoryId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Category/GetCategory/@i.CategoryId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="Category/NewCategory" class="btn btn-dark">Yeni Kategori</a>

