@model WebApp.Models.Classes.Category
@{
    ViewData["Title"] = "NewCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<br />
<h1>Yeni Kategori Ekle</h1>
<br />
<form   class="form-group" method="post">
    @Html.LabelFor(x => x.CategoryName)
    @Html.TextBoxFor(x => x.CategoryName,new { @class ="form-control"})
    <br />
    <button class="btn btn-outline-success" id="btn1">Ekle</button>
    <script>
        $('#btn1').click(function () {
            alert("Kategori Başarılı Bir Şekilde Eklendi")
        });
    </script>


</form>

